
<div id="accounting">
    <div class="description">
        <h1>Accounting</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>

    <div class="container">
        <div class="row">
            <form id="uploadForm" action="/api/Upload" method="post" enctype="multipart/form-data" role="form">
                <div class="col-lg-6">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type="file" id="accData" name="accData">
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                    </div>
                <span class="help-block">
                    Select your data file
                </span>
                </div>
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary btn-default">Submit</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="progress">
                    <div id="loadProgress" class="progress-bar" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-lg btn-default" id="btnLoad" onclick="accountingLoad()">Process</button>
    <div id="load">
        <p id="loadStatus"></p>
        <div id="groups" class="container">
        </div>
        <div id="frequencies"></div>
    </div>

    <button type="button" class="btn btn-lg btn-default" id="btnCalc" onclick="accountingCalc(1000)">Calculate</button>
    <div id="calculate">
        <p id="calcStatus"></p>
    </div>

    <button type="button" class="btn btn-lg btn-default" id="btnResults" onclick="accountingResults(1)">Show Results</button>
    <div id="results">
        <p></p>
    </div>

    <button type="button" class="btn btn-lg btn-default" id="btnProgress" onclick="sparkProgress('/api/Progress')">View Progress</button>
    <div id="progress"></div>

</div>