
<div id="accounting">
    <div class="description">
        <h1>Accounting</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>

    <form id="uploadForm" action="/api/Upload" method="post" enctype="multipart/form-data">
        <input type="file" name="accData">
        <p><input type="submit" value="Upload"></p>
    </form>
    <progress style="display:none"></progress>

    <button type="button" class="btn btn-lg btn-default" id="btnLoad" onclick="accountingLoad()">Load</button>
    <div id="load">
        <p id="loadStatus"></p>
        <div id="groups"></div>
        <div id="frequencies"></div>
    </div>

    <button type="button" class="btn btn-lg btn-default" id="btnCalc" onclick="accountingCalc(1000)">Calculate</button>
    <div id="calculate">
        <p id="calcStatus"></p>
    </div>

    <button type="button" class="btn btn-lg btn-default" id="btnResults" onclick="accountingResults(1)">Show Results</button>
    <div id="results">
        <p></p>
    </div>

    <button type="button" class="btn btn-lg btn-default" id="btnProgress" onclick="sparkProgress('/api/Progress')">View Progress</button>
    <div id="progress"></div>

</div>