<div class="row" id="description">
    <div class="col-lg-2">
        <img src="@routes.Assets.versioned("images/package_logo.png")" class="img-responsive"/>
    </div>
    <div class="description col-lg-10">
        <h1>Benford's Law</h1>
        <p class="lead">Benford's Law is a phenomenological law about the frequency distribution of leading digits in many real-life sets of numerical data and it has a wide range of applications.</p>
        <h2>Accounting</h2>
        <p>
            Benford's Law has been used for detecting fraud in accounting records for several years. Accounting records are supposed to follow it and large deviations from the expected probabilities for the first two significant digits may suggest the numbers have been tampered with.
            <br>
            Traditional statistical tests, though, yield a large number of false positives when applied to large data sets. That is commonly known as the "excessive power" of the tests.
            <br>
            Recently, two techniques based on bootstrap procedures were developed to tackle this problem and yield higher accuracy and sensitivity.
            <br>
            The bootstrap procedure is very computationally-expensive yet highly parallelizable, so one of the goals of this package is to enable the application of these new techniques in large data sets while delivering results fast.
            <br>
        <p>
            The implementation is based on the following papers so, for further details on the procedures and the decision criteria, please refer to it:
            <br>
            <a href="http://epublications.marquette.edu/cgi/viewcontent.cgi?article=1031&context=account_fac" target="_blank">SUH, I.; HEADRICK, T.C. A comparative analysis of the bootstrap versus traditional statistical procedures applied to digital analysis based on Benford’s Law. Journal of Forensic and Investigative Accounting, Vol. 2, n. 2, p. 144-175, 2010.</a>
            <br>
            <a href="http://epublications.marquette.edu/cgi/viewcontent.cgi?article=1045&context=account_fac" target="_blank">SUH, I., HEADRICK, T.C.; MINABURO, S. An Effective and Efficient Analytic Technique: A Bootstrap Regression Procedure and Benford's Law. Journal of Forensic & Investigative Accounting, Vol. 3, n. 3, p.25-44, 2011.</a>
        </p>
        </p>
        <h2>Image Processing</h2>
        <p>
            A novel use of Benford's Law is edge detection. Sets of pixels depicting edges show higher adherence to the expected distribution of the leading digit.
            <br>
            So, researchers have developed a metric called Benford Goodness of Parameter (BGP) which is equivalent to an RMSE of the observed distribution that can be applied to subsets of pixels as defined by a sliding window over the original image. This procedure was named 2D-Scanning Benford Analysis (2D-SBA).
            <br>
            Similarly to a convolutional kernel, the use of a transformation based on the BGP of a given set of pixels allows the detection of faint features in images.
            <br>
            It is easy to see that even moderate-size images will span thousands of windows to be transformed. The goal of this package is to quickly deliver results when applying the SBA procedure to images.
            <br>
        <p>
            The implementation follows this paper so, for further details on the procedure, please refer to it:
            <br>
            <a href="http://arxiv.org/abs/1408.5735" target="_blank">BHOLE, G.; SHUKLA, A.; MAHESH, T.S. Benford Analysis: A useful paradigm for spectroscopic analysis, arXiv:1408.5735, 2014.</a>
        </p>
        </p>
        <h2>Signal Processing</h2>
        <p>
            The Benford Goodness of Parameter (BGP) metric and the Scanning Benford Analysis (SBA) can also be used for detecting weak peaks in signals.
            <br>
            This feature is currently under development in the Benford Analysis for Spark package.
            <br>
        <p>
            For further details, please refer to the original paper:
            <br>
            <a href="http://arxiv.org/abs/1408.5735" target="_blank">BHOLE, G.; SHUKLA, A.; MAHESH, T.S. Benford Analysis: A useful paradigm for spectroscopic analysis, arXiv:1408.5735, 2014.</a>
        </p>
        </p>
        <h2>Network Analysis</h2>
        <p>
            Yet another novel use of Benford's Law is the detection of suspiciously behaving nodes in social networks.
            <br>
            This feature is currently under development in the Benford Analysis for Spark package.
            <br>
        <p>
            For further details, please refer to the original paper:
            <br>
            <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0135169" target="_blank">GOLDBECK, J. Benford's Law Applies to Online Social Networks, PLoS ONE 10(8): e0135169. doi:10.1371/journal.pone.0135169, 2015.</a>
        </p>
        </p>
    </div>
</div>
