<div class="row" id="home">
    <div class="col-lg-2">
        <img src="@routes.Assets.versioned("images/package_logo.png")" class="img-responsive"/>
    </div>
    <div class="description col-lg-10">
        <h1>A Single Approach to Different Detection Problems...</h1>
        <p>
            <p>
                <h4><b>Benford Analysis</b> is a suite for solving detection problems.</h4>
                <h4>If you need to detect...</h4>
                <ul>
                    <li>possible frauds in accounting records</li>
                    <li>edges or faint features in images</li>
                    <li>weak peaks in signals</li>
                    <li>spammers or other suspicious behaviors in social networks</li>
                </ul>
                <h4>.. then <b>Benford Analysis</b> is for you!</h4>
                <h4>It includes a set of methods conveniently assembled in a package for Apache Spark and it is integrated with a Play Application to provide RESTful APIs for these methods.</h4>
            </p>
            <h3>Why Benford's Law?</h3>
            <p>
                <h4>Benford's Law is traditionally known as a tool for accounting audits. But its wide range of applications also include image and signal processing and social network analysis. Learn more about Benford's Law, its applications and how Benford Analysis implements its methods <a class="linkDescription" href="#description">here</a>.</h4>
            </p>
            <h3>Can I use my data?</h3>
            <p>
                <h4>Just follow the links!</h4>
                <ul>
                    <li><a class="linkAccounting" href="#accounting">I have a file with accounting records (or any other values you may want to test against Benford's Law)</a></li>
                    <li><a class="linkImage" href="#image">I have an image with faint features</a></li>
                    <li>I have a signal in the frequency domain (under development)</li>
                    <li>I have a graph of a social network (under development)</li>
                </ul>
            </p>
        </p>
    </div>
</div>
