<div id="image">
    <div class="row">
        <div class="col-lg-2">
            <img src="@routes.Assets.versioned("images/package_logo.png")" class="img-responsive"/>
        </div>
        <div class="description col-lg-10">
            <h1>Image Processing</h1>
            <p>
                <h4>It is really easy to process an image! All you have to do is:</h4>
                <ul>
                    <li>submit a gray-scale image;</li>
                    <li>choose a window size to be used in the 2D-Scanning Benford Analysis (2D-SBA);<br>
                        (lower values yield better results for small images)</li>
                    <li>choose the percentage of pixels to be discarded - the remaining pixels will contain edge information;<br>
                        (values from 80% and up yield good results)</li>
                    <li>check "White Background", if you do not want discarded pixels showed in black.</li>
                </ul>
                <h4>You can try different parameters to best fit the processed image to your needs!</h4>
            </p>
        </div>
    </div>

    <p></p>

    <div class="alert alert-danger fade in col-lg-10" style="display:none" id="errorImg">
        <strong id="errorImgMessage">Error!</strong>
    </div>

    <p></p>

    <div class="container">
        <div class="row">
            <form id="uploadImgForm" action="/api/img/Direct" method="post" enctype="multipart/form-data" role="form">
                <div class="col-lg-9">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-warning btn-file">
                            Browse&hellip; <input type="file" id="imgData" name="imgData">
                        </span>
                    </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                <span class="help-block">
                    Select your image
                </span>
                </div>
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-warning">Submit</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <div class="progress" id="imgProgress">
                    <div id="loadImgProgress" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="process" class="container" style="display:none">
        <div class="row">
            <div class="col-lg-10">
                <p>
                    <label for="wSize">Choose the window Size (in pixels):</label>
                    <input type="text" id="wSize" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <div id="wSizeSlider"></div>
            </div>
        </div>
        <div class="row">
            <p></p>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <button type="button" class="btn btn-warning btn-block" id="btnSBA" onclick="imageSBA()">Process</button>
            </div>
        </div>
    </div>

    <p></p>

    <div id="show" class="container" style="display:none">
        <div class="row">
            <div class="col-lg-10">
                <p>
                    <label for="threshold">Choose the % of pixels to be discarded:</label>
                    <input type="text" id="threshold" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <div id="slider"></div>
            </div>
            <div class="col-lg-10">
                <div class="checkbox">
                    <label><input type="checkbox" id="white" value="">White Background</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <button type="button" class="btn btn-warning btn-block" id="btnLoad" onclick="imageLoad()">Show</button>
            </div>
        </div>
    </div>

    <p></p>

    <div id="sba" class="container" style="display:none">
        <div class="row">
            <div align="center" class="col-lg-5" id="originalImgTitle">Original Image</div>
            <div align="center" class="col-lg-5" id="newImgTitle">Processed Image</div>
        </div>

        <div class="row">
            <div id="originalImage" class="col-lg-5">
            </div>
            <div id="newImage" class="col-lg-5">
            </div>
        </div>
    </div>

</div>